Считайте датасет из файла; Выведите основную информацию о датасете

In [88]:
import pandas as pd
import numpy as np

In [89]:
df = pd.read_csv('train.csv')
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

Посчитайте процент выживаемости у каждого класса пассажиров

In [90]:
pclass = df['Pclass'].value_counts()
pclass_sur = df.groupby('Pclass')['Survived'].sum()
sur_pc = pclass_sur / pclass * 100
sur_pc

Pclass
1    62.962963
2    47.282609
3    24.236253
dtype: float64

Выведите самое популярное мужское и самое популярное женское имя на корабле

In [91]:
import re

In [92]:
def name(full): # сложноооо
  n_match = re.search(r'\(([^)]+)\)', full)
  if n_match:
    return n_match.group(1).split()[0]
  else:
    tokens = full.replace('.', '').split()
    for i, token in enumerate(tokens):
      if token in ['Mr', 'Miss', 'Mrs', 'Master']:
        if i + 1 < len(tokens):
          return tokens[i+1]
    return None

In [93]:
df['FirstName'] = df['Name'].apply(name)

In [94]:
n_male = df[df['Sex'] == 'male']['FirstName'].value_counts().idxmax()
n_female = df[df['Sex'] == 'female']['FirstName'].value_counts().idxmax()

print(f'Male name: {n_male}; Female name: {n_female}')

Male name: William; Female name: Anna

Выведите самое популярное мужское и самое популярное женское имя на корабле в каждом классе

In [97]:
n_male_1 = df[df['Pclass'] == 1][df['Sex'] == 'male']['FirstName'].value_counts().idxmax()
n_female_1 = df[df['Pclass'] == 1][df['Sex'] == 'female']['FirstName'].value_counts().idxmax()
n_male_2 = df[df['Pclass'] == 2][df['Sex'] == 'male']['FirstName'].value_counts().idxmax()
n_female_2 = df[df['Pclass'] == 2][df['Sex'] == 'female']['FirstName'].value_counts().idxmax()
n_male_3 = df[df['Pclass'] == 3][df['Sex'] == 'male']['FirstName'].value_counts().idxmax()
n_female_3 = df[df['Pclass'] == 3][df['Sex'] == 'female']['FirstName'].value_counts().idxmax()

print(f'First class: {n_male_1}, {n_female_1}; Second class: {n_male_2}, {n_female_2}; Third class: {n_male_3}, {n_female_3}')

First class: William, Elizabeth; Second class: William, Elizabeth; Third class: William, Anna

<ipython-input-97-727282700>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  n_male_1 = df[df['Pclass'] == 1][df['Sex'] == 'male']['FirstName'].value_counts().idxmax()
<ipython-input-97-727282700>:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  n_female_1 = df[df['Pclass'] == 1][df['Sex'] == 'female']['FirstName'].value_counts().idxmax()
<ipython-input-97-727282700>:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  n_male_2 = df[df['Pclass'] == 2][df['Sex'] == 'male']['FirstName'].value_counts().idxmax()
<ipython-input-97-727282700>:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  n_female_2 = df[df['Pclass'] == 2][df['Sex'] == 'female']['FirstName'].value_counts().idxmax()
<ipython-input-97-727282700>:5: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  n_male_3 = df[df['Pclass'] == 3][df['Sex'] == 'male']['FirstName'].value_counts().idxmax()
<ipython-input-97-727282700>:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  n_female_3 = df[df['Pclass'] == 3][df['Sex'] == 'female']['FirstName'].value_counts().idxmax()

Выведите часть таблицы с пассажирами, возраст которых больше 44 лет

In [102]:
age_more = df[df['Age'] > 44]

age_more

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,FirstName
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S,Timothy
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S,Elizabeth
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S,Mary
33,34,0,2,"Wheadon, Mr. Edward H",male,66.0,0,0,C.A. 24579,10.5000,NaN,S,Edward
52,53,1,1,"Harper, Mrs. Henry Sleeper (Myna Haxtun)",female,49.0,1,0,PC 17572,76.7292,D33,C,Myna
...,...,...,...,...,...,...,...,...,...,...,...,...,...
857,858,1,1,"Daly, Mr. Peter Denis",male,51.0,0,0,113055,26.5500,E17,S,Peter
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,0,0,17466,25.9292,D17,S,Margaret
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S,Sallie
873,874,0,3,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,345765,9.0000,NaN,S,Victor
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C,Lily

Выведите часть таблицы с пассажирами, возраст которых меньше 44 лет и которые мужского пола

In [103]:
age_less = df[df['Age'] < 44]

age_less

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,FirstName
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,Owen
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,Florence
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,Laina
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,Lily
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,William
...,...,...,...,...,...,...,...,...,...,...,...,...,...
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q,Margaret
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,None
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,Margaret
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,Karl
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,Patrick

Выведите количества n-местных кабин (в которых было 2, 3, 4, ... человека)

In [124]:
cabin_all = df['Cabin'].value_counts().to_frame()

df_cabin_all = pd.DataFrame(cabin_all)
df_cabin_all = df_cabin_all.reset_index()
df_cabin_all.columns = ['Cabin', 'Counts']

cabin_n = df_cabin_all[df_cabin_all['Counts'] > 1]
cabin_n_final = cabin_n['Cabin'].count()
print(f'Количество n-местных кабин: {cabin_n_final}')

Количество n-местных кабин: 46